/**
 * @name Shadow
 * @author ShadowDev
 * @version 0.1.2
 * @description Cid Kagenou/Shadow From Shadow Garden
 * @source https://github.com/ItzTeduhYt/ShadowCidKagenou/tree/main
 */

@import url('https://raw.githack.com/Ruben7173/Ruben7173.github.io/master/BetterDiscord-Themes/Modules/transparency2.css');
@import url('https://raw.githubusercontent.com/ItzTeduhYt/ShadowCidKagenou/main/core.css');

:root{
    --background: url('https://cdn.discordapp.com/attachments/1260231552302845962/1269304096796577864/cid_dua.png?ex=66af930f&is=66ae418f&hm=9a8ef4b2617bbd25c792b44b40f59e83c014964c21f0d5ac3af846bf698e2ca9&');
    --activetext-colour: rgb(255, 255, 255);

    --primary1-colour: rgb(0, 132, 255);
    --primary2-colour: rgba(0, 0, 0, 0.425);
    --primary3-colour: rgba(81, 0, 88, 0.137);

    --bg-overlay-2: rgba(0, 0, 0, 0.76);
    
    --secondary1-colour: rgba(0, 0, 0, 0.452);
    --secondary2-colour: rgba(225, 0, 255, 0.438);
    --secondary3-colour: rgba(0, 0, 0, 0.664);

    --transparency-1: linear-gradient(to right, rgba(90, 9, 110, 0.397), rgba(0, 0, 0, 0.356));
    --transparency-2: linear-gradient(to right, rgba(50, 0, 56, 0.774), rgba(0, 0, 0, 0.685));
    --transparency-3: linear-gradient(to right, rgba(0, 0, 0, 0.678), rgba(0, 0, 0, 0.733));
    --transparency-4: linear-gradient(to right, rgba(0, 0, 0, 0.822), rgba(0, 0, 0, 0.815));
    --transparency-5: linear-gradient(to right, rgba(0, 0, 0, 0.068), rgba(0,0,0,0.5));
}
